@import '@fontsource/fira-mono';

:root {
	--color-fg-1: rgb(255, 255, 255);
	--color-fg-2: rgb(194, 194, 194);
	--color-fg-3: rgb(140, 140, 140);
	--color-bg-1: rgb(30, 30, 30);
	--color-bg-2: rgb(40, 40, 40);
	--color-border: rgb(60, 60, 60);
	--color-accent: rgb(170, 2, 250);
	--range-slider: var(--color-bg-2);
	--range-handle-inactive: var(--color-fg-2);
	--range-handle: var(--color-accent);
	--range-handle-focus: var(--color-accent);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	font-family: Arial;
}