@import '@fontsource/fira-mono';

:root {
	--color-accent: rgb(170, 2, 250);
	--color-accent-text: rgb(255, 255, 255);
	--range-handle: var(--color-accent);
	--range-handle-focus: var(--color-accent);
}

.dark-theme {
	--color-fg-1: rgb(255, 255, 255);
	--color-fg-2: rgb(210, 210, 210);
	--color-fg-3: rgb(140, 140, 140);
	--color-fg-4: rgb(84, 84, 84);
	--color-bg-1: rgb(30, 30, 30);
	--color-bg-2: rgb(40, 40, 40);
	--color-bg-3: rgb(62, 62, 62);
	--color-bg-3a: rgba(62, 62, 62, 0.7);
	--medium-confidence: rgb(255, 149, 0);
	--low-confidence: rgb(255, 38, 0);
	--edited: rgb(0, 172, 0);
	--color-border: var(--color-bg-3);
	--color-shadow: var(--color-bg-1);
	--range-slider: var(--color-bg-2);
	--range-slider-progress: var(--color-fg-3);
	--range-bar: var(--color-fg-2);
	--range-bar-progress: var(--color-fg-1);
	color: var(--color-fg-1);
}

.light-theme {
	--color-fg-1: rgb(20, 20, 20);
	--color-fg-2: rgb(70, 70, 70);
	--color-fg-3: rgb(150, 150, 150);
	--color-fg-4: rgb(205, 205, 205);
	--color-bg-1: rgb(225, 225, 225);
	--color-bg-2: rgb(235, 235, 235);
	--color-bg-3: rgb(245, 245, 245);
	--color-bg-3a: rgba(245, 245, 245, 0.7);
	--medium-confidence: rgb(255, 106, 0);
	--low-confidence: rgb(255, 0, 76);
	--edited: rgb(0, 172, 0);
	--color-border: var(--color-fg-4);
	--color-shadow: var(--color-fg-4);
	--range-slider: var(--color-bg-2);
	--range-slider-progress: var(--color-fg-4);
	--range-bar: var(--color-fg-3);
	--range-bar-progress: var(--color-fg-1);
	color: var(--color-fg-1);
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: Arial;
}

.select-dark {
	appearance: none;
	-webkit-appearance: none;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='0.8em' viewBox='0 0 512 512'><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill='rgb(194, 194, 194)' d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/></svg>") no-repeat;
	background-position: right 3px center;
	padding-right: 1.4em;
}

.clickable:hover {
	filter: brightness(1.2);
}